.App-header {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    box-sizing: border-box;
    padding:10px;
}

.App-link {
    color: #61dafb;
}

.highlight {
    color: orangered;
}

.tweet-container {
    background: white;
    padding:5px;
    margin: 5px;
    box-shadow: 0 0 5px -2px black;
    word-wrap: break-word;
}

.fade-in{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to   {
        opacity: 1;
    }
}

