.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -webkit-linear-gradient(top, white, black);
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
html, body{
    margin: 0;
    max-height: 100vh;
}

.App{
    min-height: calc(100vh - 10px);
    height: 100%;
}

#root{
}

.highlight {
    color: orangered;
}

.shadow{

}

.wordCloud{
    border: thin solid #dbe1d8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.tweetContainer{
    height: 100%;
    border: thin solid #dbe1d8;
    padding:5px;
    position: relative;
}

.sentimentScore{
    position: absolute;
    top:-5px;
    right:-15px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 200;
    -webkit-box-shadow: 0 0 4px 1px #b8b8ba;
            box-shadow: 0 0 4px 1px #b8b8ba;
}

.white{
    background:whitesmoke;
}

.red{
    background: #de4a4c;
}

.yellow{
    background: #ded666;
}

.green{
    background:#61de7b;
}

.tweetImg{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding:5px;
}

.tweetImg > img{
    border-radius: 100%;
}

.tweetText{
   /* For Firefox */
    white-space: pre-wrap;
    word-break: break-all;

    /* For Chrome and IE */
    word-wrap: break-word;
}

#wordcloudPanel{
    background: white;
    padding:5px;

}

#tweetPanel {
    background: white;
    height: 100%;
}